<a href="https://colab.research.google.com/github/bekdata/mohirdev_datascines/blob/main/_026%7C_groupby(_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# faylni chaqirib olish
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
# data dagi qiymatlarni berish
df['company'].value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [ ]:
df_group = df.groupby('company')
df_group.value_counts()

company        body-style   wheel-base  length  engine-type  num-of-cylinders  horsepower  average-mileage  price
alfa-romero    convertible  88.6        168.8   dohc         four              111         21               13495.0    1
                                                                                                            16500.0    1
               hatchback    94.5        171.2   ohcv         six               154         19               16500.0    1
audi           sedan        99.4        176.6   ohc          five              115         18               17450.0    1
                            99.8        176.6   ohc          four              102         24               13950.0    1
                                        177.3   ohc          five              110         19               15250.0    1
               wagon        105.8       192.7   ohc          five              110         19               18920.0    1
bmw            sedan        101.2       176.8   ohc          four              101         23               16430.0    1
                                                                                                            16925.0    1
                                                             six               121         21               20970.0    1
                            103.5       189.0   ohc          six               182         16               30760.0    1
                                        193.8   ohc          six               182         16               41315.0    1
                            110.0       197.0   ohc          six               182         15               36880.0    1
chevrolet      hatchback    88.4        141.1   l            three             48          47               5151.0     1
                            94.5        155.9   ohc          four              70          38               6295.0     1
               sedan        94.5        158.8   ohc          four              70          38               6575.0     1
dodge          hatchback    93.7        157.3   ohc          four              68          31               6229.0     1
                                                                                                            6377.0     1
honda          sedan        96.5        169.1   ohc          four              100         25               10345.0    1
                                        175.4   ohc          four              101         24               12945.0    1
               wagon        96.5        157.1   ohc          four              76          30               7295.0     1
isuzu          sedan        94.3        170.7   ohc          four              78          24               6785.0     1
jaguar         sedan        102.0       191.7   ohcv         twelve            262         13               36000.0    1
                            113.0       199.6   dohc         six               176         15               32250.0    1
                                                                                                            35550.0    1
mazda          hatchback    93.1        159.1   ohc          four              68          30               5195.0     1
                                                                                           31               6095.0     1
                                                                                                            6795.0     1
                            95.3        169.0   rotor        two               101         17               11845.0    1
               sedan        104.9       175.0   ohc          four              72          31               18344.0    1
mercedes-benz  hardtop      112.0       199.2   ohcv         eight             184         14               45400.0    1
               sedan        110.0       190.9   ohc          five              123         22               25552.0    1
                            120.9       208.1   ohcv         eight             184         14               40960.0    1
               wagon        110.0       190.9   ohc          five              123         22               28248.0    1
mitsubishi     hatchback    93.7        157.3   ohc          four              68          31               6189.0     1
                                                                                           37               5389.0     1
               sedan        96.3        172.4   ohc          four              88          25               6989.0     1
                                                                                                            8189.0     1
nissan         sedan        94.5        165.3   ohc          four              55          45               7099.0     1
                                                                               69          31               6649.0     1
                                                                                                            6849.0     1
                            100.4       184.6   ohcv         six               152         19               13499.0    1
               wagon        94.5        170.2   ohc          four              69          31               7349.0     1
porsche        convertible  89.5        168.9   ohcf         six               207         17               37028.0    1
               hardtop      89.5        168.9   ohcf         six               207         17               34028.0    1
toyota         hatchback    95.7        158.7   ohc          four              62          31               6338.0     1
                                                                                                            6488.0     1
                                                                                           35               5348.0     1
               wagon        95.7        169.7   ohc          four              62          27               7898.0     1
                                                                                                            8778.0     1
                                                                                           31               6918.0     1
                            104.5       187.8   dohc         six               156         19               15750.0    1
volkswagen     sedan        97.3        171.7   ohc          four              52          37               7775.0     1
                                                                                                            7995.0     1
                                                                               85          27               7975.0     1
                                                                               100         26               9995.0     1
volvo          sedan        104.3       188.8   ohc          four              114         23               12940.0    1
               wagon        104.3       188.8   ohc          four              114         23               13415.0    1
Name: count, dtype: int64

In [ ]:
# dataning ikki ustulari o`rtasida solishtirish amalini bajarish
# horsepower ustunining mos qiymatiga price ning mos qiymatini qo`yish
df.groupby('horsepower').price.max() #max narxlarni chiqaramiz

horsepower
48      5151.0
52      7995.0
55      7099.0
62      8778.0
68      6795.0
69      7349.0
70      6575.0
72     18344.0
76      7295.0
78      6785.0
85      7975.0
88      8189.0
100    10345.0
101    16925.0
102    13950.0
110    18920.0
111    16500.0
114    13415.0
115    17450.0
121    20970.0
123    28248.0
152    13499.0
154    16500.0
156    15750.0
176    35550.0
182    41315.0
184    45400.0
207    37028.0
262    36000.0
288        NaN
Name: price, dtype: float64

In [ ]:
# narx ustun bo`yicha o`rta qiymat chiqarish
df.groupby('company').price.mean()

company
alfa-romero      15498.333333
audi             16392.500000
bmw              27213.333333
chevrolet         6007.000000
dodge             6303.000000
honda            10195.000000
isuzu             6785.000000
jaguar           34600.000000
mazda             9654.800000
mercedes-benz    35040.000000
mitsubishi        6689.000000
nissan            8289.000000
porsche          35528.000000
toyota            8216.857143
volkswagen        8435.000000
volvo            13177.500000
Name: price, dtype: float64

In [ ]:
# berilgan ustunning mos qiymatlariga mos max qiymatni hisoblash
df.groupby('horsepower').max()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,average-mileage,price
horsepower,,,,,,,,
48,chevrolet,hatchback,88.4,141.1,l,three,47,5151.0
52,volkswagen,sedan,97.3,171.7,ohc,four,37,7995.0
55,nissan,sedan,94.5,165.3,ohc,four,45,7099.0
62,toyota,wagon,95.7,169.7,ohc,four,35,8778.0
68,mitsubishi,hatchback,93.7,159.1,ohc,four,37,6795.0
69,nissan,wagon,94.5,170.2,ohc,four,31,7349.0
70,isuzu,sedan,94.5,158.8,ohc,four,38,6575.0
72,mazda,sedan,104.9,175.0,ohc,four,31,18344.0
76,honda,wagon,96.5,157.1,ohc,four,30,7295.0
78,isuzu,sedan,94.3,170.7,ohc,four,24,6785.0
85,volkswagen,sedan,97.3,171.7,ohc,four,27,7975.0
88,mitsubishi,sedan,96.3,172.4,ohc,four,25,8189.0
100,volkswagen,sedan,97.3,171.7,ohc,four,26,10345.0
101,mazda,sedan,101.2,176.8,rotor,two,24,16925.0
102,audi,sedan,99.8,176.6,ohc,four,24,13950.0
110,audi,wagon,105.8,192.7,ohc,five,19,18920.0
111,alfa-romero,convertible,88.6,168.8,dohc,four,21,16500.0
114,volvo,wagon,104.3,188.8,ohc,four,23,13415.0
115,audi,sedan,99.4,176.6,ohc,five,18,17450.0
121,bmw,sedan,101.2,176.8,ohc,six,21,20970.0
123,mercedes-benz,wagon,110.0,190.9,ohc,five,22,28248.0
152,nissan,sedan,100.4,184.6,ohcv,six,19,13499.0
154,alfa-romero,hatchback,94.5,171.2,ohcv,six,19,16500.0
156,toyota,wagon,104.5,187.8,dohc,six,19,15750.0
176,jaguar,sedan,113.0,199.6,dohc,six,15,35550.0
182,bmw,sedan,110.0,197.0,ohc,six,16,41315.0
184,mercedes-benz,sedan,120.9,208.1,ohcv,eight,14,45400.0
207,porsche,hardtop,89.5,168.9,ohcf,six,17,37028.0
262,jaguar,sedan,102.0,191.7,ohcv,twelve,13,36000.0
288,porsche,hatchback,98.4,175.7,dohcv,eight,17,NaN

In [ ]:
# Qo`shimcha bajarish uchun amal kiritish
df.groupby('body-style').price.agg([len, min, max, np.mean])

<ipython-input-26-054e310ab442>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])
<ipython-input-26-054e310ab442>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])
<ipython-input-26-054e310ab442>:1: FutureWarning: The provided callable <function mean at 0x7c624d1494e0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])

             len      min      max          mean
body-style
convertible    3  13495.0  37028.0  22341.000000
hardtop        2  34028.0  45400.0  39714.000000
hatchback     15   5151.0  16500.0   7159.571429
sedan         32   6575.0  41315.0  17706.333333
wagon          9   6918.0  28248.0  12730.111111

In [ ]:
# companiya bo`yicha minimal qiymatlar
df_comp = df.groupby('company')
df_comp.min().head()

,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,
alfa-romero,convertible,88.6,168.8,dohc,four,111,19,13495.0
audi,sedan,99.4,176.6,ohc,five,102,18,13950.0
bmw,sedan,101.2,176.8,ohc,four,101,15,16430.0
chevrolet,hatchback,88.4,141.1,l,four,48,38,5151.0
dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0

In [ ]:
df_comp.max().head()

,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,
alfa-romero,hatchback,94.5,171.2,ohcv,six,154,21,16500.0
audi,wagon,105.8,192.7,ohc,four,115,24,18920.0
bmw,sedan,110.0,197.0,ohc,six,182,23,41315.0
chevrolet,sedan,94.5,158.8,ohc,three,70,47,6575.0
dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0