<a href="https://colab.research.google.com/github/bekdata/mohirdev_datascines/blob/main/_028%7C_stack()_va_unstack().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [21]:
# multiIndex lar haqida
data = pd.Series(np.random.randn(9),
                 index = [['a','b','c','a','c','b','c','d','d'], [1,2,3,1,2,2,3,1,3]])
data

a  1   -2.010014
b  2   -0.621552
c  3    1.193557
a  1    1.385798
c  2    0.820253
b  2    0.967079
c  3   -0.441600
d  1   -0.060131
   3    0.422361
dtype: float64

In [11]:
# data ichidan 'c' elementlarning barchaini chiqarish
data['c']

3   -0.167637
2    1.948492
3   -1.182647
dtype: float64

In [30]:
ddf = pd.DataFrame(data)
ddf.unstack()

ValueError: Index contains duplicate entries, cannot reshape

In [28]:
data.stack()

AttributeError: 'Series' object has no attribute 'stack'

In [27]:
data

a  1   -2.010014
b  2   -0.621552
c  3    1.193557
a  1    1.385798
c  2    0.820253
b  2    0.967079
c  3   -0.441600
d  1   -0.060131
   3    0.422361
dtype: float64

In [19]:
# import pandas as pd

# #data = {
#     'Viloyat': ['Toshkent', 'Toshkent', 'Samarqand', 'Samarqand'],
#     'Shahar': ['Chilonzor', 'Mirzo Ulug‘bek', 'Urgut', 'Kattaqo‘rg‘on'],
#     'Aholi': [500000, 400000, 150000, 200000]
# }

# # df = pd.DataFrame(data)

# # # MultiIndex yaratish
# # df.set_index(['Viloyat', 'Shahar'], inplace=True)

# # print(df)